
@import '../../node_modules/bootstrap/scss/bootstrap.scss';

.body{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.navbar{
  margin-top: 0.5rem;
  padding-right: 0.8rem;
  padding-left: 0.8rem;
  font-weight:bold;
}

.navbar #navbarText .nav-link {
  font-weight:800;
  font-size:13px;
  letter-spacing:0.04em;
  color: #333;
}

.navbar li{
  padding-right:2rem;
  padding-left:2rem;
}


.navbar-brand{
  font-family: 'Allura', cursive;
  font-weight: bolder;
  font-size: 25px;
}

.navbar-item {
  padding:4rem;
}


.card-deck{
    display: flex;
    margin: 2rem;
}
.card{
    margin:0.5rem;
}

.card-text span{
  font-weight: bold;
}

.carousel .item {
    height: 10px;
  }
  
  .item img {
      position: absolute;
      top: 0;
      left: 0;
      min-height: 10px;
  }

.jumbotron{

    background-color: rgba(0, 0, 0, 0);
    background-repeat: no-repeat;
    background-image: url('/img/banners/website_top_banner_7_a8bbc8f9-a83e-44f6-9525-75a2bd8020e7_x1024.png');
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 80vh;
    opacity: 1;
    visibility: inherit;
}

.jumbotron{
  padding-top:10rem;
}


.jumbotron .container .display-4{
  font-weight:800;
  color:white;
  font-family: 'Allura', cursive;
  font-size:120px;
}

.jumbotron .container .lead{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.jumbotron .container .lead #message{
  font-weight:20;
  opacity:0.5;
}

#shopnow:hover {
  letter-spacing: 0.2em;
  background-color:black;
}

#shopnow {
  color: white;
}
button {
  height: 3em;
  width: 10%;
  padding: 2em auto;
  margin: 1em auto;
  background-color:rgb(8, 219, 247);
  border: none;
  border-radius: 0px;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  transition: all 0.2s cubic-bezier(.4,0,.2,1);
  font-size: medium;
  font-weight: bold;
 
}


.container{
    margin-right: 2rem;
}
  
.bg-light{
    background-color: white !important;
}

a .navbar-brand{
    margin-right:10rem;
}

.footer{
    background: #152F4F;
    color:white;
    
    .links{
      ul {list-style-type: none;}
      li a{
        color: white;
        transition: color .2s;
        &:hover{
          text-decoration:none;
          color:#4180CB;
          }
      }
    }  
    .about-company{
      i{font-size: 25px;}
      a{
        color:white;
        transition: color .2s;
        &:hover{color:#4180CB}
      }
    } 
    .location{
      i{font-size: 18px;}
    }
    .copyright p{border-top:1px solid rgba(255,255,255,.1);} 
  }


  
  .mbanner{
    display: block;
    margin-top: 4rem;
    margin-bottom:4rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
    padding-left: 6rem;
    padding-right: 6rem;
    background-color: white;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
  }

  .mbanner ul{
    list-style-type: none;
    display: inline-flex;
  }

  .mbanner li{
    width: 24vw;
    margin-left: 2rem;
    margin-right: 2rem;
    font-weight: 800;
    color:violet;
  }

  .mbanner img{
    max-width:24px;
    vertical-align:middle;
    height: auto;
    margin-right:0.5rem;
  }

  .aftercards{
    background: rgba(8, 219, 247, 0.2);
    font-size: 25px;
  }

  .top-nav{
    margin-right: 5rem;
  }
  
  .banner-head{
    width:100%;
    height:auto;
    color:black;
    text-align:center;
    background-color:paleturquoise;
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 0;
    margin-top:0;
    font-variant: small-caps;
  }

  .lbanner{
    text-align:center;
    font-stretch: expanded;
    font-size: 80px;
    font-weight: 800;
    font-variant: small-caps;
    height:auto;
    padding-bottom: 1rem;
  }

  /*---------CART details-------------*/

  .products-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 100px;
  }
  .products-container{
    max-width: 700px;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 50px;
    margin-right: 30%;
  }


  .product-header{
    width: 100%;
    max-width: 650px;
    display: flex;
    justify-content: flex-start;
    border-bottom: 4px solid violet;
    margin: 0 auto;
  }

  .product-title{
    width: 45%;
  }

  .price{
    width:15%;
    align-items: center;
    border-bottom: 1px solid violet;
    display: flex;
  }

  .quantity{
    width: 30%;
    border-bottom: 1px solid violet;
    display: flex;
    align-items: center;
    text-align: center;
    padding-right:2rem;
  }

  .total{
    width: 10%;
    border-bottom: 1px solid violet;
    display: flex;
    align-items: center;
  }

  .product{
    width: 45%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid violet;
    
  }

  .product .strawName{
    width:45%;
  }

  .basketTotalContainer{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 10px 0;
  }

  .basketTitle{
    width: 30%;
  }

  .basketTotal{
    width: 10%;
  }

  .footer{
    background-color:violet;
    opacity:0.7;
    align-items: center;
    justify-content:center;
    padding-left:20rem;
    padding-right:20rem;
  }

  .footer .social-icons ul{
    display: flex;
    flex-flow:row;
    list-style-type: none;
    text-align:center;
    justify-content:center;
    margin-top:8rem;
  }

  .footer .social-icons li{
    padding-right: 2rem;
    padding-left:2rem;
  }

  .col .copyright .row p small{
    text-align:center;
  }

  .footer .last-row{
    display:flex;
    justify-content:center;
    padding-left:10rem;
  }

  .footer .final-row{
    justify-content:center;
    text-align:center;
  }